<div class='intro'>
	<h1 class='intro__hed'>{{doc.title}}</h1>
	<p class='intro__dek'>{{doc.description}}</p>
	<p class='intro__byline'><span>Story and Data by</span>
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>
	</p>
	<p class='intro__byline'>
		<span>Design and Code by</span>
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<time class='intro__time'>December 2019</time>
	<div class='intro__prelude'>
		<div class='prose'>
			{{#each doc.intro}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
</div>