<div class='intro' id='intro'>
	<time class='intro__time'>February 2019</time>
	<h1 class='intro__hed'>{{doc.title}}</h1>
	<p class='intro__byline'>
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>: <span>Story + Data</span>
	</p>
	
	<p class='intro__byline'>
		
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a> + <a href='{{meta.author3.url}}' target='_blank'>
			<strong>{{meta.author3.name}}</strong></a>: <span>Code + Design</span>
		
	</p>
	
	<div class='intro__prelude'>
		<div class='prose'>
			{{#each doc.intro}}
			<p>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
</div>