<section id='timeline' data-js='timeline'>
    <div class='timeline__intro'>
        <h2 class='intro__hed'>{{doc.timelineHed}}</h2>
        <p class='intro__dek'>{{doc.timelineDek}}</p>
    </div>

    <div class='timeline__legend'>
        <img src='assets/images/legend__desktop.png' class='legend__desktop legend'>
        <img src='assets/images/legend__mobile.png' class='legend__mobile legend'>
    </div>


    {{#each doc.deep-dive}}
    <div class='timeline__author'>
        <div class='author__info'>
            <h3 class='info__name'>{{{name}}}</h3>
            <p class='info__lifespan'>{{{lifespan}}}</p>
        </div>
        <figure class='author__figure' data-js='author__figure' data-author={{{slug}}}>
            <div data-js='figure__tooltip' class='figure__tooltip is-hidden'>
                <p class='tooltip__book' data-js='tooltip__book'>Title: <span></span></p>
                <p class='tooltip__location' data-js='tooltip__residence'>Residential Setting(s): <span></span></p>
                <p class='tooltip__location' data-js='tooltip__setting'>Non-Residential Setting(s): <span></span></p>
            </div>
            <div data-js='figure__chart' class='figure__chart' data-author={{{slug}}}></div>
        </figure>
        <p class='author__text'>{{{text}}}</p>
    </div>
    {{/each}}

</section>